input[type="text"],
select {
	margin: 9px 0;
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 3px;
}

#tbx-idpb,
#tbx-tenpb,
#tbx-iddc,
#tbx-idht,
#tbx-idnv {
	width: 100%;
	padding: 10px 15px;
	font-size: 17px;
	margin: 8px 0;
	background: #fff;
	border-radius: 5px;
}

#tarea-mota {
	width: 100%;
	padding: 10px 15px;
	font-size: 17px;
	margin: 8px 0;
	background: #fff;
	border-radius: 5px;
}

.btn {
	background: #fbd0d9;
	color: black;
	text-transform: capitalize;
	font-size: 20px;
	cursor: pointer;
	border-radius: 5px;
}

form {
	height: 100px;
}

textarea {
	border: 1px solid #000000;
	border-radius: 3px;
	/* position: relative; */
}

body {
	font-family: "Saira", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	margin: 0;
	background-color: #feeceb;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
}

#container {
	text-align: center;
}
